/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
padding:0;
margin:0;
    background: url(../images/4.jpg)no-repeat center;    
    background-size: cover;
    min-height: 800px;
    font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
a{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
a:hover{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.wrap {
    width: 80%;
    margin: 0 auto;
}
/*--under construction start here--*/
.wthree-underconstruction {
    padding:7em 0em 0em 0em;
    text-align: center;
}
.construction-wl h2 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 0.2em;
}
.construction-wl p {
    font-size: 1.1em;
    color:#FEB954;
    margin-bottom: 2em;
}
.search {
    width: 50%;
    margin:3em auto 0em;
    background:#F79347;
    padding: 8px 0px;
    border-radius: 2px;
}
.search input[type="text"] {
    display: inline-block;
    background: #FFF;
    border: none;
    width: 70%;
    padding: 0.6em 1em;
    outline: none;
    font-size: 0.95em;
    color: #000;
    font-weight: 400;
}
.search input[type="submit"] {
    font-size: 0.95em;
    color: #fff;
    width: 18%;
    padding: 0.6em 1em;
    display: inline-block;
    cursor: pointer;
    outline: none;
    background:#D46B1A;
    border: none;
    border-radius: 2px;
    vertical-align: top;
}
.search input[type="submit"]:hover{
	color:#fff;
	background:#FEB954;
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
ul.social-icons {
    padding: 0px;
    list-style: none;
}
ul.social-icons li{
   display: inline-block;
   margin-right: 10px;
}
ul.social-icons li h6 {
    font-size: 1em;
    color: #fff;
}
ul.social-icons li a {
    background: url(../images/ftr-sprit.png)no-repeat;
    width: 33px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
}
ul.social-icons li a.fa {
	
}
ul.social-icons li a.fa:hover{
	transform: rotateY(360deg);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
ul.social-icons li a.tw {
    background-position: -34px 0px;
}
ul.social-icons li a.tw:hover{
	transform: rotateY(360deg);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
ul.social-icons li a.dri {
    background-position: -67px 0px;
}
ul.social-icons li a.dri:hover {
	transform: rotateY(360deg);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
ul.social-icons li a.ins {
    background-position: -101px 0px;
}
ul.social-icons li a.ins:hover {
    transform: rotateY(360deg);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
/* ---------- TIMER ---------- */
.timer_wrap {
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
}
#counter {
	height:160px;
	font-size:60px;
	color: #FFF;
	overflow: hidden;
}
.timer{
	border-top:2px ridge #5F5F5F;
	border-bottom:2px ridge #5F5F5F;
}
/*-- w3layouts --*/
.timer h4{
	font-size: 14px;
	color: #E5E5E5;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-top: 20px;
}
.countDays, .countHours, .countMinutes, .countSeconds {
    display: inline-block;
    width: 106px;
    height: 100px;   
    margin-left: 10px;
    border-radius: 5px;    
	background:none;
    padding: 15px;
    border: 2px solid #fff;
}
.points {
	float: left;
	width:40px;
	margin: 0;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	line-height: 138px;
	text-shadow: none;
	color:#FFF;
    display: none;
}
.boxName {
	float: left;
	width: 100%;
	font-size: 15px;
	color: #fff;
	font-style: italic;
	font-weight: 600;
	padding: 2px;
}
/* ---------- /TIMER ---------- */
.footer {
    padding:4em 0em;
    width: 50%;
    margin: 0 auto;
}
.contact-us {
    float: left;
    width: 49%;
    text-align: left;
}
/*-- agileits --*/
.ftr-icons {
    float: right;
    width: 49%;
    text-align: right;
}
.contact-us h5 {
    font-size: 1em;
    color: #fff;
    display: inline-block;
    margin-right: 6px;
    vertical-align: super;
}
.copy-rights p {
    font-size: 1em;
    color: #fff;
    text-align: center;
    line-height: 1.7em;
}
.copy-rights p a{
  color:#FFC562; 
}
.copy-rights p a:hover{
  color: #fff; 
}
.copy-rights {
    padding:2em 0em 0em 0em;
}
.clear{
	clear:both;
}
/*--under construction end here--*/
/*--media quiries start here--*/
@media (max-width:1440px){
.search {
    width: 55%;	
}
.footer {
    width: 55%;
}
}
@media (max-width:1366px){
.wthree-underconstruction {
    padding: 5em 0em 0em 0em;	
}
}
@media (max-width:1280px){
/*-- w3layouts --*/
.search {
    width: 60%;	
}
.footer {
    width: 60%;
}
}
@media (max-width:1024px){
.search {
    width: 70%;
}	
.footer {
    width: 70%;
}
.contact-us {
    width: 30%;
}
.ftr-icons {
    width: 70%;
}
}
@media (max-width:800px){
.position {
    margin-top: 10px;
}	
.countDays, .countHours, .countMinutes, .countSeconds {
    width: 75px;
    height: 75px;
}
.search {
    width: 72%;
}
.search {
    width: 85%;
}
.footer {
    width: 85%;
}
.construction-wl p {
    font-size: 1em;
    line-height: 1.8em;
}
body {
    min-height: 930px;
}
.wthree-underconstruction {
    padding: 8em 0em 0em 0em;
}
}
/*-- agileits --*/
@media (max-width:667px){
.countDays, .countHours, .countMinutes, .countSeconds {
    width: 70px;
    height: 70px;
}
.search {
    width: 95%;
}
.footer {
    width: 95%;
}
}
@media (max-width:640px){
.wthree-underconstruction {
    padding: 5em 0em 0em 0em;
}	
body {
    min-height: 825px;
}
.countDays, .countHours, .countMinutes, .countSeconds {
    width: 60px;
    height: 60px;
}
.copy-rights {
    padding: 2em 0.5em 1.5em 0.5em;
}
body {
    min-height: 685px;
}
}
@media (max-width:568px){
	
}
@media (max-width:480px){
.search {
    width: 100%;
}	
.footer {
    width: 100%;
}
.contact-us {
    width: 100%;
    float: none;
    margin: 0em auto 1em;
    text-align: center;
}
.ftr-icons {
    width: 100%;
    float: none;
    margin: 0 auto;
    text-align: center;
}
.search input[type="text"] {
    width: 62%;
}
.search input[type="submit"] {
    width: 22%;
}
.construction-wl p {
    font-size: 0.9em;
}
.construction-wl h2 {
    font-size: 2em;
}
#counter {
    font-size: 47px;
}
.footer {
    padding: 2em 0em;
}
.construction-wl p {
    margin-bottom: 0em;
}
.search {
    margin: 0em auto 0em;
}
.wrap {
    width: 85%;
}
}
@media (max-width:414px){
	
}
@media (max-width:384px){
.wthree-underconstruction {
    padding: 3em 0em 0em 0em;
}
.copy-rights {
    padding: 1em 0.5em 1em 0.5em;
}
.copy-rights p {
    font-size: 0.9em;	
}
body {
    min-height: 605px;
}
.construction-wl p {
    margin-bottom: 0.5em;
}
.search input[type="submit"] {
    width: 24%;
    font-size: 0.9em;
    padding: 0.6em 0.6em;
}
.search input[type="text"] {
    width: 55%;
}
}
@media (max-width:375px){
	
}
@media (max-width:320px){
.construction-wl h2 {
    font-size: 1.5em;
}
.wrap {
    width: 90%;
}
#counter {
    font-size: 40px;
}	
ul.social-icons li {
    margin-right: 7px;
}
.copy-rights {
    padding: 0em 0.5em 0em 0.5em;
}
.wthree-underconstruction {
    padding: 2em 0em 0em 0em;
}
.construction-wl p {
    margin: 1em 0em;
}
body {
    min-height: 505px;
}
}
/*--media quies end here--*/